@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --bg-color: #171A21;
    --card-bg-color: #1B2838;
    --highlight-color: #66C0F4;
    --text-primary-color: #FFFFFF;
    --text-secondary-color: #C7D5E0;
    --link-color: #007bff;
    --rating-high: #8EEA8C;
    --rating-medium: #E1C07B;
    --rating-low: #D64D4D;
}

body {
    margin: 0;
    background: var(--bg-color);
    color: var(--text-primary-color);
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 2rem 1rem;
    background: var(--bg-color);
    z-index: 100;
    border-bottom: 1px solid var(--bg-color);
    gap: 1rem;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding-left: 4rem;
    padding-right: 4rem;
}

.logo a:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
}


.logo {
    margin: 0;
}

.logo img {
    max-width: 200px;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.search-form input {
    padding: 0.375rem 0.75rem;
    border-radius: 1rem;
    border: 1px solid var(--card-bg-color);
    background: var(--card-bg-color);
    font-family: inherit;
    font-size: 1.5rem;
    transition: all 0.2s ease;
    width: 30rem;
    color: var(--text-primary-color);
}

.search-form input::placeholder {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-secondary-color);
}

.search-form input:focus {
    outline: none;
    border-color: var(--highlight-color);
    box-shadow: 0 0 0 0.1rem var(--highlight-color);
}

#botao-busca {
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;
    white-space: nowrap;
    transition: background-color 0.2s ease, color 0.2s ease;
    background-color: var(--highlight-color);
    color: var(--bg-color);
    border: 1px solid var(--link-color);
}

#botao-busca:hover {
    background-color: #8ED8F8;
    border-color: #8ED8F8;
}

#botao-busca:active {
    transform: scale(0.98);
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 80rem;
    margin: 0 auto;
    margin-top: 2rem;
    width: 100%;
}

.search-main {
    flex-direction: row;
}

article {
    background: linear-gradient(var(--card-bg-color), var(--bg-color));
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1.25rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    border-bottom: none;
}

article:hover,
feat:hover {
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

article h2 {
    margin-top: 0;
    font-weight: 700;
    font-size: 1.6rem;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0.25rem;
    color: var(--text-primary-color);
}

article p {
    margin: 0.5rem 0;
    line-height: 1.6;
    font-size: 1rem;
    color: var(--text-secondary-color);
}

article p strong {
    color: var(--text-secondary-color);
    font-weight: 700;
}

article a {
    color: var(--highlight-color);
    text-decoration: none;
    font-weight: 700;
}

article a:hover {
    text-decoration: underline;
}


footer {
    color: var(--text-secondary-color);
    background-color: var(--bg-color);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.footer-links img {
    height: 24px;
    /* Ajuste a altura conforme necessário */
    width: auto;
    margin-right: 8px;
    /* Adiciona espaço entre a imagem e o texto */
    vertical-align: middle;
}

.footer-location {
    color: var(--text-secondary-color);
    /* Cor do texto */
    margin-bottom: 10px;
    /* Margem inferior */
}

.footer-links {
    list-style: none;
    /* Remove os marcadores da lista */
    display: flex;
    /* Habilita o layout flexbox */
    flex-wrap: wrap;
    /* Permite que os itens quebrem para a próxima linha */
    justify-content: center;
    /* Centraliza os itens horizontalmente */
    gap: 15px;
    /* Espaçamento entre os links */
}

.footer-links a {
    color: var(--text-secondary-color);
    /* Cor do link */
    text-decoration: none;
    /* Remove o sublinhado */
    transition: color 0.2s;
    /* Transição suave para a cor */
    font-size: 15px;
}

.footer-links a:hover {
    color: var(--highlight-color);
    /* Muda a cor do link ao passar o mouse */
}

@media (max-width: 768px) {
    header {
        /* Estilos para telas com largura máxima de 768px */
        flex-direction: column;
        /* Organiza os itens do cabeçalho em coluna */
        padding: 1rem;
        /* Reduz o espaçamento interno */
    }

    header h1 {
        /* Estilos para o h1 no cabeçalho em telas menores */
        text-align: center;
        /* Centraliza o texto */
        margin-bottom: 1rem;
        /* Adiciona margem inferior */
    }

    div input {
        /* Estilos para o input em telas menores */
        width: 90vw;
        /* Largura baseada na largura da viewport */
        font-size: 1.2rem;
        /* Reduz o tamanho da fonte */
    }

    main {
        /* Estilos para o main em telas menores */
        padding: 0 1rem;
        /* Adiciona espaçamento lateral */
    }

    article:hover {
        /* Estilos para o article em telas menores */
        transform: none;
        /* Remove o efeito de escala ao passar o mouse */
    }
}

@media (max-width: 480px) {
    header h1 {
        /* Estilos para o h1 em telas com largura máxima de 480px */
        font-size: 1rem;
        /* Reduz ainda mais o tamanho da fonte */
        max-width: 70%;
        /* Define uma largura máxima */
        word-wrap: break-word;
        /* Permite a quebra de palavras longas */
    }

    div input,
    /* Estilos para o input e seu placeholder em telas muito pequenas */
    div input::placeholder {
        font-size: 1rem;
        /* Reduz o tamanho da fonte */
    }

    article h2 {
        /* Estilos para o h2 do article em telas muito pequenas */
        font-size: 1.3rem;
        /* Reduz o tamanho da fonte */
    }

    div {
        /* Estilos para a div do cabeçalho em telas muito pequenas */
        display: flex;
        /* Habilita flexbox */
        align-items: center;
        /* Alinha itens ao centro */
        justify-content: center;
        /* Centraliza itens */
        flex-direction: column;
        /* Organiza em coluna */
        gap: 0.5rem;
        /* Espaçamento entre os itens */
    }

    .footer {
        /* Estilos para o rodapé em telas muito pequenas */
        display: none;
        /* Oculta o rodapé */
    }

    button {
        /* Estilos para o botão em telas muito pequenas */
        margin-top: 1rem;
        /* Adiciona margem no topo */
    }
}