.hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--text-primary-color);
    padding: 50px 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    text-align: center;
}

.hero-section h2 {
    font-size: 2.5em;
    margin-bottom: 15px;
}

.hero-section img {
    width: 200px;
    margin-left: 300px;
}

.content {
    display: flex;
    flex-direction: column;
}

.main-card {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.features-section {
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.features-section h3 {
    font-size: 2em;
    margin-bottom: 25px;
    text-align: center;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 8px;
    border-left: 4px solid #007bff;
    background-color: var(--card-bg-color);
    text-align: center;
}

.feature-item img {
    height: 50px;
    margin-bottom: 20px;
}

.feature-item h4 {
    margin-bottom: 10px;
    margin-top: 0;
    color: #00aaff;
    text-align: center;
}

.feature-item:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.cta-section {
    padding: 40px 20px;
    border-radius: 8px;
    text-align: center;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 15px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    color: var(--text-primary-color);
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3;
}

.about-section {
    max-width: 900px;
    margin: 4rem auto;
    padding: 2rem 4rem;
    text-align: center;
}

.about-section h2 {
    font-size: 2.5rem;
    color: var(--highlight-color);
    margin-bottom: 1.5rem;
}

.about-section p {
    font-size: 1.2rem;
    line-height: 1.8;
}

.highlight {
    color: #00ffff; /* Ciano */
}

.feature-item a.highlight {
    text-decoration: none;
}

.feature-item a.highlight:hover {
    transition: opacity 0.2s ease-in-out;
    opacity: 0.8;
}